<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheesenana Coin</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            border: 0px;
            background-color: #fff9c5;
        }
        .header{
          background-color: #444444;
          color: #ffff00;
          padding-left: 20px;
          padding-top: 1px;
          padding-bottom: 1px;
          border: 0px;
          text-align: left;
          font-size: 13px;
          font-family: helvetica
        }
    </style>
</head>
    <div class="header">
        <h1>CHEESENANA COIN</h1>
    </div>
    <br>
    <%- body %>
</body>
</html> 