<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheesenana Coin</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            border: 0px;
            background-color: #575757;
        }
        .header{
            background-color: #ff9a56;
            color: #ffff00;
            padding-left: 20px;
            padding-top: 1px;
            padding-bottom: 1px;
            border: 0px;
            text-align: left;
            font-size: 15px;
            font-family: 'Helvetica'
        }
        ul {
            font-size: 20px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
        }
        li {
        }
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .big{
            float: left;
            color: #ffae00;
            font-size: 30px;
            font-family: 'Trebuchet MS';
        }
        .right{
            float: right;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/" class="big">CHEESENANA COIN</a></li>
        <li><a href="/register" class="right">Register</a></li>
        <li><a href="/login" class="right">Login</a></li>
    </ul>
    <%- body %>
</body>
</html>